.progress-bar,
.progress {
	behavior: url(js/PIE.htc);
}

.kp-masonry .element .entry-item .entry-content-hover,
.widget-area-8 .kp-featured-widget .kp-featured-slider .entry-content, 
.kp-blogpost-slider .entry-content,
.slider-wrapper ul li .entry-item .entry-content-hover {
	background: url(../images/background/ie-bg-white.png) repeat 0 0;
}
.kp-headline {
	width: 950px;
}
.progress-bar,
.progress {
	position: relative;
}

.kp-services .hi-icon-effect-3 .hi-icon {
	color: #ff5b4d;
	text-align: center;
	width: 50px;
}
.kp-contact-box .hi-icon-effect-3 .hi-icon {
	width: 45px;
}

.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66666666666666%;
}
.col-md-10 {
	width: 83.33333333333334%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66666666666666%;
}
.col-md-7 {
	width: 58.333333333333336%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66666666666667%;
}
.col-md-4 {
	width: 33.33333333333333%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.666666666666664%;
}
.col-md-1 {
	width: 8.333333333333332%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
	float: left;
}

.sb-search input[type="text"] {
    height: 40px;
}